mixin welcome()
	.welcome(ng-show='state == "welcome"')
		img(src='img/logo-alpha.png')
		div(ng-hide='currentUser')
			button.btn.btn-primary.btn-lg.facebook-login(ng-click='fbLogin()') Login with Facebook
		h4(ng-show='currentPlayer') Active Player: {{currentPlayer.name}}

mixin joinGame()
	.pre-game.row(ng-show='state == "joinGame"')
		+col(6)
			h3 Choose a game:
			.btn.btn-info(ng-show='currentUser' ng-repeat='game in allGames track by $index' ng-click='joinActiveGame(game)') {{game.id}}: {{game.name}}
			h3 Or create a new one:
			.btn.btn-success(ng-click='createNewGame()') Create new game
		+col(6)
			h3 Message List:
			ul.well
				li(ng-repeat='message in chatList track by $index') {{message.user}}: {{message.text}}
			form(name='chatWindow' ng-submit='submitChat()')
				input(ng-model='ff.chat' placeholder='respond to chat')
				button(ng-hide='true' type='submit')

mixin startGame()
	.pre-game.row(ng-show='state == "startGame"')
		+col(6)
			h3 Players:
			ul
				li(ng-repeat='player in activeGame.playerIds track by $index') {{player}}
			button.btn.btn-success(ng-click='addEvent("startGame")') Start the game

mixin playCard()
	div(ng-show='state == "playCard"')
		h4(ng-hide='currentPlayer.takenMainAction') You may play a card from you hand:
		h4(ng-show='currentPlayer.takenMainAction') Main action taken
		+show-cards('held', 'callPlayCard')

mixin strength()
	div(ng-show='state == "strength"')
		h3.pull-left Total Strength: {{currentPlayer.playStrength}}; Used: {{currentPlayer.deck.activeCard.plays}}
		.btn.btn-danger.btn-indian(ng-click='addIndian()') Add Indian&nbsp;
			span.badge {{currentPlayer.indianCount}}
		.play-card-display-holder
			.play-card-display
				+show-cards('held', 'addStrength')
			.active-card
				+active-card()
			
mixin recruit()
	.journal(ng-show='state == "recruit"')
		h3 Recruit for the team:
		+show-cards('recruit', 'recruitThisCard')
			
mixin recruitPayment()
	div(ng-show='state == "recruitPayment"')
		h3 Payment for new Recruit?
		.row
			+col(8)
				+show-cards('held', 'recruitPayment')
				.btn.btn-info(ng-show='currentPlayer.corp.count("equipment") >= recruitCard.strength' ng-click='recruitPayment()') Use {{recruitCard.strength}} equipment
			+col(null, 4, 4, 4, 4, 'active-card')
				+recruit-card()
			
mixin board(override)
	- show = override ? 'true' : 'state == "board"'
	- drop = override ? 'false' : 'space.content.length < space.max && validIndianDrop(true) && userTurn() && !currentPlayer.takenMainAction'
	div(ng-show=show)
		h3 Board Spaces:
		.board-spaces-container
			.board-space(ng-repeat='space in boardSpaces track by $index' class='{{space.class}}' ng-click='clickBoardSpace(space)' title='{{space.description}}' ng-drop=drop ng-drop-success='addEvent(space.event)')
				.content(ng-show='space.content.length <= 2')
					.item(ng-repeat='item in space.content track by $index' class='text-{{item.btnClass}}' title='{{item.display}}')
						i.sprite.symbol.indian
				.content(ng-show='space.content.length > 2')
					.item
						i.sprite.symbol.indian
						| &times; {{space.content.length}}

mixin boats()
	div(ng-show='state == "boats"')
		h3 Choose a boat:
		.choose-boats-container
			.holder(ng-repeat='boat in chooseBoats track by $index')
				.boat(class='{{boat.type}} {{boat.size}}' ng-click='chooseBoat(boat.type, boat.size)')
				.description 
					p {{boat.description}}
					h4 Bonus:
					p {{boat.bonus}}

mixin boardAbility()
	div(ng-show='state == "boardAbility"')
		h3 Choose which ability to use:
		.choose-ability-container
			+show-cards('held', 'useCardAbility')

mixin trash()
	div(ng-show='state == "trash"')
		h3 Trash up to 3 cards:
		+show-cards('held', 'trash')

mixin win()
	div(ng-show='state == "win"')
		h3 {{currentPlayer.name}} is the winner!