mixin welcome()
	.welcome(ng-if='state == "welcome"')
		img(src='img/logo-alpha.png')
		div(ng-hide='currentUser')
			button.btn.btn-danger.btn-lg.facebook-login(ng-click='googleLogin()') Login with Google
			br
			button.btn.btn-primary.btn-lg.facebook-login(ng-click='fbLogin()') Login with Facebook
		//- h4(ng-show='currentPlayer') Active Player: {{currentPlayer.name}}

mixin joinGame()
	.pre-game(ng-if='state == "joinGame"')
		.half(ng-show='currentUser')
			h3 Choose a game:
			.btn.btn-info(ng-repeat='game in allGames track by $index' ng-click='joinActiveGame(game)') {{game.name}}
			h3 Or create a new one:
			.btn.btn-success(ng-click='createNewGame()') Create new game
		.half
			h3 Message List:
			ul.well
				li(ng-repeat='message in chatList track by $index') {{message.user}}: {{message.text}}
			form(name='chatWindow' ng-submit='submitChat()')
				input.form-control(ng-model='ff.chat' placeholder='respond to chat')
				button(ng-hide='true' type='submit')

mixin startGame()
	.pre-game(ng-if='state == "startGame"')
		.half
			h3 Waiting for Host to start game
			h5 Current Players:
			ul
				li(ng-repeat='player in activeGame.playerNames track by $index') {{player}}
			button.btn.btn-success(ng-disabled='activeGame.hostId != currentUser.uid' ng-click='addEvent("startGame")') Start the game

mixin playCard()
	div(ng-if='state == "playCard"')
		h4(ng-hide='currentPlayer.takenMainAction') {{currentPlayer.name}} may play a card from {{userTurn() ? "your" : "their"}} hand:
		h4(ng-show='currentPlayer.takenMainAction') Main action taken
		+show-cards('held', 'callPlayCard')

mixin strength()
	div(ng-if='state == "strength"')
		h3.pull-left Total Strength: {{currentPlayer.playStrength}}; Used: {{currentPlayer.deck.activeCard.plays}}
		.btn.btn-danger.btn-indian(ng-click='addIndian()') Add Indian&nbsp;
			span.badge {{currentPlayer.indianCount}}
		.play-card-display-holder
			.play-card-display
				+show-cards('held', 'addStrength')
			.active-card(ng-drop='validIndianDrop(true) && userTurn()' ng-drop-success='addEvent("addIndianToStrength")' ng-drag-cancel='true')
				+active-card()
			
mixin recruit()
	.journal(ng-if='state == "recruit"')
		h3 Recruit for the team:
		+show-cards('recruit', 'recruitThisCard')
			
mixin recruitPayment()
	div(ng-if='state == "recruitPayment"')
		h3 Payment for new Recruit?
		.flex-holder
			.double
				+show-cards('held', 'recruitPayment')
				.btn.btn-info(ng-show='currentPlayer.corp.count("equipment") >= recruitCard.strength' ng-click='recruitPayment()') Use {{recruitCard.strength}} equipment
			.half.active-card
				+recruit-card()
			
mixin board(override)
	- show = override ? 'true' : 'state == "board"'
	- drop = override ? 'false' : 'space.content.length < space.max && validIndianDrop(true) && userTurn() && !currentPlayer.takenMainAction'
	div(ng-if=show)
		h3 Board Spaces:
		.board-spaces-container
			.board-space(ng-repeat='space in boardSpaces track by $index' class='{{space.class}}' ng-click='clickBoardSpace(space)' title='{{space.description}}' ng-drop=drop ng-drop-success='addEvent(space.event)')
				.content(ng-show='space.content.length <= 2')
					.item(ng-repeat='item in space.content track by $index' class='text-{{item.btnClass}}' title='{{item.display}}')
						i.sprite.symbol.indian
				.content(ng-show='space.content.length > 2')
					.item
						i.sprite.symbol.indian
						| &times; {{space.content.length}}

mixin collectHorse()
	div(ng-if='state == "collectHorse"')
		h3 Pay for Horse(s)
		.btn.btn-info(ng-disabled='horseCollectionCount() < 0' ng-click='addEvent("collectHorses")') {{horseCollectionText()}}
		.horse-payment-space
		.corp-boats
			.horse-collect-boat(ng-drop="userTurn() && (validIndianDrop(true) || validSupplyDrop())" ng-drop-success="dropHorsePayment($data)")
				.content
					.item(title='indian')
						i.sprite.indian
					.item(ng-repeat='item in horsePayment.content track by $index' class='text-{{item.btnClass}}' title='{{item.display}}' ng-drag="userTurn()" ng-drag-data='item' ng-drag-success='dragHorseSuccess($index)')
						i.sprite(class="{{item.name}}")

mixin collectCanoe()
	div(ng-if='state == "collectCanoe"')
		h3 Pay for Canoe(s)
		.btn.btn-info(ng-disabled='canoeCollectionCount() < 0' ng-click='addEvent("collectCanoes")') {{canoeCollectionText()}}
		.canoe-payment-space
		.corp-boats
			.canoe-collect-boat(ng-drop="userTurn() && (validIndianDrop(true) || validSupplyDrop())" ng-drop-success="dropCanoePayment($data)")
				.content
					.item(title='indian')
						i.sprite.indian
					.item(ng-repeat='item in canoePayment.content track by $index' class='text-{{item.btnClass}}' title='{{item.display}}' ng-drag="userTurn()" ng-drag-data='item' ng-drag-success='dragCanoeSuccess($index)')
						i.sprite(class="{{item.name}}")

mixin boats()
	div(ng-if='state == "boats"')
		h3 Choose a boat:
		.choose-boats-container
			.holder(ng-repeat='boat in chooseBoats track by $index')
				.boat(class='{{boat.type}} {{boat.size}}' ng-click='chooseBoat(boat.type, boat.size)')
				.description 
					p {{boat.description}}
					h4 Bonus:
					p {{boat.bonus}}

mixin boardAbility()
	div(ng-if='state == "boardAbility"')
		h3 Choose which ability to use:
		.choose-ability-container
			+show-cards('held', 'useFaceUpAbility')

mixin faceUpAbility()
	div(ng-if='state == "faceUpAbility"')
		h3 Choose an action from the card
		+ability-card()

mixin trash()
	div(ng-if='state == "trash"')
		h3 Trash up to 3 cards:
		+show-cards('held', 'trash')

mixin win()
	div(ng-if='state == "win"')
		h3 {{currentPlayer.name}} is the winner!