.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.active-card {
	border-left: solid 1px gray;
}
.played-card {
	border: red dashed 4px !important;
	&.small {
		border-width: 2px !important;
	}
}
.held-card {
	cursor: pointer;
}
.played-card,
.recruit-card,
.ability,
.held-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid 2px green;
	margin: 3px;
	border-radius: 5px;
	padding: 5px;
	&.small {
		padding: 2px;
	}
	.card-name {
		font-size: 16px;
		margin: 0 0 12px 27px;
		width: 100px;
		text-align: center;
		background: rgba(220, 220, 220, 0.7);
	}
	.card-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.strength {
			display: inline-block;
			min-width: 10px;
			padding: 4px 10px;
			font-size: 13px;
			font-weight: bold;
			color: black;
			vertical-align: middle;
			white-space: nowrap;
			text-align: center;
			border-radius: 13px;
			&.small {
				min-width: 7px;
				padding: 2px 5px;
				font-size: 10px;
			}
		}
	}
	&.fur {
		border-color: yellow;
		.strength {
			background-color: yellow;
		}
	}
	&.meat {
		border-color: lightcoral;
		.strength {
			background-color: lightcoral;
		}
	}
	&.equipment {
		border-color: #ddd;
		.strength {
			background-color: #ddd
		}
	}
	&.wood {
		border-color: #c86;
		.strength {
			background-color: #c86;
		}
	}
}
.bgpos(@ex; @why) {
	background-position: @ex @why;
	&.small {
		background-position: @ex/ 2 @why/2;
	}
}
.card-img {
	width: 140px;
	height: 185px;
	background-image: url(../img/all-cards.jpg);
	&.small {
		width: 70px;
		height: 92.5px;
		background-image: url(../img/all-cards-sm.jpg)
	}
	&.SP11 {
		.bgpos(-42px, -30px);
	}
	&.SP12 {
		.bgpos(-194px, -38px);
	}
	&.SP14 {
		.bgpos(-340px, -40px);
	}
	&.SP13 {
		.bgpos(-476px, -40px);
	}
	&.SP15 {
		.bgpos(-612px, -40px);
	}
	&.SP16 {
		.bgpos(-762px, -40px);
	}
	&.JF11 {
		.bgpos(-1186px, -1048px);
	}
	&.JF12 {
		.bgpos(-478px, -1050px);
	}
	&.JF13 {
		.bgpos(-622px, -1050px);
	}
	&.JF14 {
		.bgpos(-906px, -1052px);
	}
	&.JF21 {
		.bgpos(-770px, -1460px);
	}
	&.JF22 {
		.bgpos(-1046px, -1462px);
	}
	&.JF31 {
		.bgpos(-334px, -2074px);
	}
	&.JH11 {
		.bgpos(-32px, -1254px);
	}
	&.JH31 {
		.bgpos(-768px, -1870px);
	}
	&.JE11 {
		.bgpos(-336px, -1052px);
	}
	&.JE12 {
		.bgpos(-482px, -1250px);
	}
	&.JE13 {
		.bgpos(-336px, -1250px);
	}
	&.JE21 {
		.bgpos(-912px, -1664px);
	}
	&.JE31 {
		.bgpos(-913px, -1874px);
	}
	&.JE32 {
		.bgpos(-484px, -2078px);
	}
	&.JG11 {
		.bgpos(-1040px, -1050px);
	}
	&.JG21 {
		.bgpos(-908px, -1465px);
	}
	&.JG22 {
		.bgpos(-1193px, -1465px);
	}
	&.JG31 {
		.bgpos(-480px, -1870px);
	}
}