body {
	background-color: darkslategray;
}
.btn-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
.container {
	margin-top: 40px;
	width: 1300px !important;
	max-width: 1300px !important;
	background: @gray-lightest;
	padding: 20px;
	.jumbotron {
		padding-left: 60px;
		padding-right: 60px;
	}
}
.main-content {
	display: flex;
	flex-direction: column;
	min-height: 500px;
	justify-content: space-between;
}
.left-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 400px;
}
.player-holder {
	padding: 5px;
	margin-bottom: 5px;
	.player {
		font-size: 18px;
		margin-bottom: 5px;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow-x: hidden;
		white-space: nowrap;
	}
}
.space-arrow {
	position: absolute;
	display: none;
	right: -5px;
	border: solid 12px white;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	&.camp {
		display: block;
		&:not(.scout) {
			border-top-color: transparent !important;
		}
		&:after {
			content: '';
			width: 21px;
			height: 29px;
			background-image: url(../img/camp-markers-sm.png);
			display: block;
			position: absolute;
			top: 2px;
			left: -10px;
			transform: rotate(180deg);
			&.lightblue {
				background-position: 0 0;
			}
			&.lightsalmon {
				background-position: -21px 0;
			}
			&.lightgreen {
				background-position: -41px 0;
			}
			&.orchid {
				background-position: -61px 0;
			}
			&.khaki {
				background-position: -81px 0;
			}
		}
		&.scout:after {
			top: 9px;
		}
	}
	&.scout {
		bottom: 4px;
		display: block;
	}
}
.current-user-corp {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	margin: 10px 0 -10px 0;
	background-image: url(../img/corp-light.jpg);
	background-repeat: no-repeat;
	min-height: 192px;
	background-position: 10px -22px;
}
.corp-boats {
	display: flex;
	flex-direction: column;
	.current-user-corp & {
		flex-direction: row;
		justify-content: space-around;
		width: 90%;
		margin-top: 80px;
	}
	.boat {
		padding: 5px;
		border: solid 1px green;
		margin: 2px;
		border-radius: 5px;
		min-height: 60px;
		.current-user-corp & {
			border: none;
		}
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		.current-user-corp & {
			justify-content: space-around;
			width: 90px;
			&.big {
				width: 120px;
			}
		}
		.item {
			border: dashed 1px;
			padding: 0 3px;
			margin: 3px;
			background-color: rgba(255,255,255,0.5);
		}
	}
}
#cursor {
	transition: all ease 0.33s;
	position: absolute;
	// on top of everything except modals
	z-index: 1000;
}
.active-player #cursor {
	// ONLY FOR ACTIVE PLAYER
	display: none;
}
.bgsprite(@ex) {
	background-position: @ex*1-1 0;
	&.small {
		background-position: @ex/3*2 0;
	}
	&.symbol {
		background-position: @ex*1-1 -31px;
		&.small {
			background-position: @ex/3*2 -22px;
		}
	}
}
.sprite {
	background-image: url(../img/sprite_alpha.png);
	display: inline-block;
	height: 26px;
	width: 26px;
	&.small {
		background-image: url(../img/sprite_alpha-sm.png);
		height: 16px;
		width: 18px;
	}
	&.white {
		background-image: url(../img/sprite_white.png);
		&.small {
			background-image: url(../img/sprite_white-sm.png);
		}
	}
	&.wood {
		.bgsprite(0px);
	}
	&.fur {
		.bgsprite(-30px);
	}
	&.meat {
		.bgsprite(-60px);
	}
	&.equipment {
		.bgsprite(-90px);
	}
	&.canoe {
		.bgsprite(-120px);
	}
	&.horse {
		.bgsprite(-150px);
	}
	&.indian {
		.bgsprite(-123px);
	}
	&.indian.used {
		.bgsprite(-152px);
	}
}
.journal {
	background-image: url(../img/journal.jpg);
	background-size: cover;
	background-position: 0 -33px;
	background-repeat: no-repeat;
	.modal-content &{
		background-position: 0 -8px;
	}
	h3 {
		position: relative;
		bottom: 22px;
		left: 20px;
	}
	.cards {
		flex-direction: row-reverse;
	}
}
.btn-indian {
	float: left;
	position: relative;
	top: 10px;
	left: 20px;
}
.ability {
	border-color: blue;
}
.map {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	flex-direction: row-reverse;
}
ul.players {
	list-style: none;
	padding: 0;
}
.space {
	position: relative;
	height: 1.5em;
	width: 1em;
	&.river {
		background-color: blue;
	}
	&.mountain {
		background-color: brown;
	}
	&.mixed {
		background-color: green;
	}
	&.finish {
		border: silver dotted 3px;
	}
}
.container,
.btn,
input {
	cursor: url(../img/hand.png), auto !important;
}
.container {
	.pre-game {
		.well {
			height: 250px;
			overflow: scroll;
		}
	}
}

.btn-gold {
	color: black;
	background-color: yellow;
	border-color: #CC0;
	&:hover {
		background-color: #DD0;
		border-color: #990;
	}
	&[disabled] {
		color: #222;
		background-color: #FF8
	}
}
.facebook-login {
	display: none;
}
.facebook-available {
	.facebook-login {
		display: inline-block;
	}
}
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;