#cursor {
	transition: all ease 0.33s;
	position: absolute;
	z-index: 1000;
}
.active-player #cursor {
	// ONLY FOR ACTIVE PLAYER
	display: none;
}
.played-card,
.power,
.held-card {
	border: solid 1px green;
	display: inline-block;
	margin: 3px;
	border-radius: 5px;
	padding: 5px;
	&.fur {
		background-color: yellow;
	}
	&.meat {
		background-color: lightcoral;
	}
	&.equipment {
		background-color: #ddd
	}
	&.wood {
		background-color: #c86;
	}
}
.played-card {
	border: red dashed 4px;

}
.power {
	border-color: blue;
}
.map {
	list-style: none;
	padding: 0;
}
.space {
	height: 1.5em;
	width: 1em;
	margin: 0.3em;
	float: right;
	&.water {
		background-color: blue;
	}
	&.mountain {
		background-color: brown;
	}
	&.mixed {
		background-color: green;
	}
	&.start,
	&.finish {
		border: silver dotted 3px;
	}
}
.container,
.btn,
input {
	cursor: url(../img/hand.png), auto !important;
}
.container {
	&.game-started {
		.pre-game {
			display: none;
		}
	}
	&.pre-game {
		.game-started {
			display: none;
		}
	}
}

.btn-gold {
	color: black;
	background-color: yellow;
	border-color: #CC0;
	&:hover {
		background-color: #DD0;
		border-color: #990;
	}
	&[disabled] {
		color: #222;
		background-color: #FF8
	}
}
.facebook-login {
	display: none;
}
.facebook-available {
	.facebook-login {
		display: inline-block;
	}
}
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;