include mixins

doctype html
html(ng-app='mainApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='Some have suggested that this game is similar to the card game "Splendor" by Space Cowboys.')
		meta(name='author', content='Moritz Company')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-touch-fullscreen' content='yes')
		title Explorers
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/main.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='MainCtrl')
		.container(ng-class='gameStatus' ng-mousemove='moveCursor($event)')
			img#cursor.img.img-responsive(src='img/hand.png' ng-style='cursor')
			header.hide
				h1 Explorers
			.jumbotron
				h2.text-center Welcome to Explorers!
				h4 Active Player: {{currentPlayer.name}}
				.notices
			.pre-game.row
				+col(6)
					input(ng-model='ff.newPlayerName')
					button.btn.btn-info(ng-click='addNewPlayer()') Add New Player
					.clearfix
					button.btn.btn-primary.facebook-login(ng-click='fbLogin()') Login with Facebook
					h4 Active Player: {{currentPlayer.name}}
					ul
						li(ng-repeat='player in allPlayers')
							h5 Name: {{player.name}}
					button.btn.btn-success(ng-click='changeCurrentPlayer()') Change Player
					button.btn.btn-warning(ng-click='quickStart()') Quick Start
					h4 All Players
					ul
						li(ng-repeat='player in allPlayers')
							h5(ng-click='changeCurrentPlayer(player)' style='background-color:{{player.color}}') {{player.name}}
							h6 Supplies:
							ul
								li(ng-repeat='boat in player.corp.supplyBoats') Cost: {{boat.cost()}} Size: {{boat.content.length}}
									ul
										li(ng-repeat='item in boat.content track by $index' class='text-{{item.btnClass}}') {{item.display}}
							h6 Indians:
							ul
								li(ng-repeat='boat in player.corp.indianBoats') Cost: {{boat.cost()}} Size: {{boat.content.length}}
							div(ng-if='player.tiles.length')
								h6(ng-repeat="(key, value) in player.tiles") Tile: #[span.capitalize {{key}}] {{value.length > 1 ? "(" + value.length + ")" : ""}}
							div(ng-if='player.cards.length')
								h6(ng-repeat="(key, value) in player.cards | groupBy: 'gem'") Card: #[span.capitalize {{key}}] {{value.length > 1 ? "(" + value.length + ")" : ""}}
							div(ng-if='player.chips.length')
								h6(ng-repeat="(key, value) in player.chips | groupBy: 'gem'") Gem: #[span.capitalize {{key}}] {{value.length > 1 ? "(" + value.length + ")" : ""}}
							div(ng-if='player.reserve.length')
								button.btn.btn-info(ng-click='toggleReserve(player)') {{player.showReserve ? 'Hide' : 'Show'}} Reserve
								ul.track.player(ng-show='player.showReserve')
									li.card(ng-repeat='card in player.reserve' ng-class='card.gem' ng-click='collectReserveCard(player, card)')
										h5.hidden Id: {{card.id}}
										h4.capitalize {{card.gem}}
										h5 Points: {{card.points}}
										h5 Cost:
										ul.cost
											li(ng-repeat='(gem, value) in card.cost' ng-class='gem' ng-show='value > 0')
												p {{value}}
				+col(6)
					ul
						li.held-card(ng-repeat='card in currentPlayer.deck.heldCards track by card.id')
							p {{card.name}}
							p {{card.symbol}}
							p {{card.strength}}
							ul
								li.power(ng-repeat='power in card.power track by $index' ng-click='playCard(card, power)')
									p Cost: {{power.cost}}
									p Benefit: {{power.benefit}}
					ul
						li.played-card(ng-repeat='card in currentPlayer.deck.playedCards track by card.id')
							p {{card.name}}
							p {{card.symbol}}
							p {{card.strength}}
							ul
								li.power(ng-repeat='power in card.power track by $index' ng-click='playCard(card, power)')
									p Cost: {{power.cost}}
									p Benefit: {{power.benefit}}
					button.btn.btn-danger(ng-click='camp()') Camp
			.game-started.row
				+col(null, 3, 4, 3)
				+col(null, 6, 4, 6)
					//- button.btn(ng-repeat='item in allItems' ng-click='purchase(item)' style='border-color:{{item.color}}') {{item.display}}
					//- button.btn.btn-danger(ng-click='addBoat("indian", "big")') Big Indian
					//- button.btn.btn-danger(ng-click='addBoat("indian", "small")') Small Indian
					//- button.btn.btn-danger(ng-click='addBoat("supply", "big")') Big Supply
					//- button.btn.btn-danger(ng-click='addBoat("supply", "small")') Small Supply
				+col(null, 3, 4, 3)
		script(src='inc/lib.js')
		script(src='inc/main.js')
//		| @@javascriptReplaceFiles
