include utils/mixins
include utils/cards
include utils/main-content

doctype html
html(ng-app='mainApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='Some have suggested that this game is similar to the card game "Splendor" by Space Cowboys.')
		meta(name='author', content='Moritz Company')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-touch-fullscreen' content='yes')
		title Explorers
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/main.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='MainCtrl')
		+cursor()
		.container(ng-class='gameStatus' ng-mousemove='moveCursor($event)')
			header.hide
				h1 Explorers
			.map
				.space(ng-repeat='space in map track by $index' class='{{space.terrain}} {{space.special}}')
					span.space-arrow(ng-repeat='player in allPlayers' class='{{$parent.$index == player.scout ? "scout" : ""}} {{$parent.$index == player.baseCamp ? "camp" : ""}} {{player.color}}' style='border-color: {{player.color}}')
			.row
				+col(2)
					button.btn.btn-success(ng-click='addEvent("changeCurrentPlayer")' ng-disabled='userTurn() && !currentPlayer.takenMainAction') End Turn
					//- Restart turn is not currently working
					button.btn.btn-danger(ng-click='addEvent("restartTurn")' ng-disabled='!userTurn() || true') Redo Turn
					h3 All Players
					.left-side
						.player-holder(ng-repeat='player in allPlayers' style='background-color:{{player.color}}' ng-click='viewPlayer(player)')
							.player
								span.badge {{player.idx}}
								|  {{player.name}}
							i.sprite.symbol(ng-repeat='card in player.deck.playedCards track by card.id' class='{{card.symbol}}')
						.collectables(ng-show='currentPlayer.collectables.length')
							h4 Collect Items
							.corp-boats
								.boat.alert.alert-danger
									.content
										.item(ng-repeat='item in currentPlayer.collectables track by $index' ng-drag='userTurn()' ng-drag-data='item' ng-drag-success='dragCollectSuccess($index)' class='text-{{item.btnClass}}' title='{{item.display}}')
											i.sprite(class='{{item.name}} {{item.name == "indian" ? "symbol" : ""}}')
				+col(8)
					+notify()
					.main-content
						+welcome()
						+joinGame()
						+startGame()
						+playCard()
						+strength()
						+recruit()
						+recruitPayment()
						+board()
						+win()
						.current-user-corp
							.corp-boats
								.boat(ng-repeat='boat in user.corp.supplyBoats' ng-drop='boat.content.length < boat.capacity && validSupplyDrop()', ng-drop-success='dropBoatSuccess(boat, $data)' title='Max: {{boat.capacity}} Days: {{boat.cost()}}')
									.content(class='{{boat.capacity > 4 ? "big" : "small"}}')
										.item(ng-repeat='item in boat.content track by $index' ng-drag='true' ng-drag-data='item' ng-drag-success='dragBoatSuccess(boat, $index)' class='text-{{item.btnClass}}' title='{{item.display}}')
											i.sprite(class='{{item.name}}')
								.boat(ng-repeat='boat in user.corp.indianBoats' ng-drop='boat.content.length < boat.capacity && validIndianDrop()', ng-drop-success='dropBoatSuccess(boat, $data)' title='Cost: {{boat.cost()}} Size: {{boat.content.length}}')
									.content(class='{{boat.capacity > 4 ? "big" : "small"}}')
										.item(ng-repeat='item in boat.content track by $index' ng-drag='true' ng-drag-data='item' ng-drag-success='dragBoatSuccess(boat, $index)' class='text-{{item.btnClass}}' title='{{item.display}}{{item.inUse ? ": currently in use" : ""}}')
											i.sprite.symbol.indian(class='{{item.inUse ? "used" : ""}}')
				+col(2)
					.btn-list
						button.btn.btn-sm.btn-warning(ng-click='addEvent("camp")' ng-disabled='!currentPlayer.notCamped && userTurn()') Camp
						button.btn.btn-sm.btn-info(ng-click='viewRecruit()' ng-disabled='!currentPlayer.notRecruited') Recruit
						button.btn.btn-sm.btn-primary(ng-click='viewBoard()') Board
					h3 Cards in Hand
					+show-small-cards('held', 'user')
					h3 Cards in Play
					+show-small-cards('played', 'user')
		script(src='inc/lib.js')
		script(src='inc/main.js')
		//- Modals should be used for reference only!
		script#viewcardModal(type='text/ng-template')
			.modal-header
				+close()
				h3 {{card.name}}
			.modal-body.row
				+col(2)
				+col(4)
					+view-card()
				+col(6)
					h4 Name: {{card.name}}
					h4 Symbol: {{card.symbol}}
					h4 Strength: {{card.strength}}
					h4 Description:
					p {{card.description}}
		script#viewplayerModal(type='text/ng-template')
			.modal-header
				+close()
				h3.marker(class='{{player.color}}') {{player.name}}
			.modal-body.row
				+col(8)
					h4(style='background-color:{{player.color}}')
						span.badge {{player.idx}}
						| {{player.name}}
						i.sprite.symbol(ng-repeat='card in player.deck.playedCards track by card.id' class='{{card.symbol}}')
					.row
						+col(6)
							h6 Supplies:
							.corp-boats
								.boat(ng-repeat='boat in player.corp.supplyBoats') Cost: {{boat.cost()}} Size: {{boat.content.length}}
									.content
										.item(ng-repeat='item in boat.content track by $index' class='text-{{item.btnClass}}' title='{{item.display}}')
											i.sprite(class='{{item.name}}')
						+col(6)
							h6 Indians:
							ul
								li(ng-repeat='boat in player.corp.indianBoats') Cost: {{boat.cost()}} Size: {{boat.content.length}}
				+col(4)
					h3 Cards in Hand
					+show-small-cards('held', 'player')
					h3 Cards in Play
					+show-small-cards('played', 'player')
		script#viewrecruitModal(type='text/ng-template')
			.journal
				.modal-header
					+close()
					h3 Recruits from Journal:
				.modal-body
					+show-cards('recruit', 'viewCard')
		script#viewboardModal(type='text/ng-template')
			.modal-header
				+close()
				h3 Current state of Board:
			.modal-body
				+board(true)
//		| @@javascriptReplaceFiles
